{% extends "layout.html" %}
{% block content %}

<h3>Добавить старосту</h3>
<p>Обязательные поля отмечены *. Они необходимы для создания корректной структуры отчетов.</p>
<p>По умолчанию адрес почты будет установлен в качестве логина, пароль - 0000</p>
<p>Если группы нет в списке, добавьте ее <a href="{% url 'usermanagement:group-create' %}"><b>ТУТ</b></a>. После добавления вы будете возвращены на эту страницу</p>
<form class = "form-horizontal" role="form" action="{% url 'usermanagement:prefect-create' %}" method="POST">
{% csrf_token %}
{{ userForm }}
{{ rpForm }}

	<br />
	<div class="btn-group" id="sbutton_wrapper">
		<button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>                  	
	</div>
</form>
{% endblock %}