{% extends "layout.html" %}

{% block content %}
 <form class = "form-horizontal" role="form" action="{{ action }}" method="POST">
	{% csrf_token %}
	{{ form }}
	<br />
	<div class="btn-group" id="sbutton_wrapper">
		<button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>                  	
	</div>
</form>
{% endblock %}