{% extends "layout.html" %}

{% block content %}


<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}               
                <h4>Войдите, чтобы воспользоваться сервисом:</h4>
                <hr />
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>Неверное имя пользователя/пароль.</strong>
                </div>
                {% endif %}
                
                
 
                <div class="form-group">
                    <!--  <label for="id_username" class="col-md-2 control-label">Логин</label>  -->
                    <div class="col-md-10">
                                     <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form.username }}
  </div>
                    
                    </div>
                </div>
                <div class="form-group">
                    <!--  <label for="id_password" class="col-md-2 control-label">Пароль</label> -->
                    <div class="col-md-10">
                    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    {{ form.password }}
  </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

<!-- Registration form -->
{% if registered %}

        <div class="alert alert-success" role="alert">
       Пользователь успешно зарегистрирован
        </div>

{% else %}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
        <!-- Change here -->
            <form action="{% url 'usermanagement:register' %}" method="post" class="form-horizontal">
                {% csrf_token %}               
                <h4>Или зарегистрируйтесь:</h4>
                <hr />
                <div class="form-group">
                    <!-- <label for="id_username" class="col-md-2 control-label">Адрес эл.почты</label> -->
                    <div class="col-md-10">
                    	<div class="input-group">
    						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    		{{ registration_form.username }}
  						</div>
                    </div>
                </div>
                {% if reg_errors.username %}
                <div class="alert alert-danger">
                    <strong>Пользователь с таким адресом электронной почты уже существует</strong>
                </div>
                {% endif %}

                <div class="form-group">
                    <!--  <label for="id_password1" class="col-md-2 control-label">Пароль</label> -->
                    <div class="col-md-10">
                    	<div class="input-group">
    						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    		{{ registration_form.password1 }}
  						</div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label for="id_password2" class="col-md-2 control-label">Пароль (снова)</label> -->
                    <div class="col-md-10">
                        <div class="input-group">
    						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    		{{ registration_form.password2 }}
  						</div>
                    </div>
                </div>
                {% if reg_errors.password2 %}
                <div class="alert alert-danger">
                    <strong>Пароли не совпадают</strong>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>
{% endif %}


{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
