{% extends "layout.html" %}
{% block content %}
<div class="containter">
<h3>Информация об ответственном лице</h3>
<p>Для начала работы укажите, пожалуйста, группу и номер телефона.</p>
<form class="form-horizontal" role="form" action="{{ action }}" method="POST">
	{% csrf_token %}
	<div class="input-group">
    	<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    	{{ form.group }}
  	</div>
  	<div class="input-group">
  	<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
	{{ form.phone_number }}
	</div>
	 <br />
		<div class="btn-group" id="sbutton_wrapper">
		<button type="submit" class="btn btn-primary" id="save_student" title="Сохранить">Сохранить</button>                  
		</div>
</form><br/>
<p>Если вашей группы внезапно нет в списке, то вы можете добавить ее здесь (это недолго):</p>

<p><a href="{% url 'usermanagement:group-create' %}" class="btn btn-primary" role="button">Нажми меня</a></p>

</div>
{% endblock %}