{% extends "layout.html" %}

{% block content %}
<h3>Изменить профиль</h3>
<div class="container">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Личные данные</a></li>
    <li><a data-toggle="tab" href="#menu1">Изменить пароль</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
       	<form role="form" action="{{ action }}{% if next %}?next={{ next }}{% endif %}" method="POST">
		{% csrf_token %}
	
			{{ form }}<br/>
			<div class="btn-group" id="sbutton_wrapper">
				<button type="submit" class="btn btn-primary" id="save_blog" title="Сохранить">Сохранить</button>
			</div>
		</form>
    </div>
    <div id="menu1" class="tab-pane fade">
      <p>Да-да, скоро тут можно будет менять пароль.</p>
    </div>
</div>
</div>
{% endblock %}
