{% extends "layout.html" %}

{% block content %}
	{% if report.id %}	
	<div class="panel-heading"><h4>Изменить отчет</h4></div>	
	{% else %}
	<div class="panel-heading"><h4>Добавить отчет</h4></div>
	{% endif %}
	<form role="form" action="{{ action }}" method="POST">
	{% csrf_token %}
		{{ form }}<br/>
		<div class="btn-group" id="sbutton_wrapper">
		<button type="submit" class="btn btn-primary" id="save_report" title="Сохранить">Сохранить</button>                  
		</div>
		</form><br/>`
{% endblock %}