{% extends "layout.html" %}

{% block content %}
	{% if student.id %}	
	<div class="panel-heading"><h4>Изменить данные</h4></div>	
	{% else %}
	<div class="panel-heading"><h4>Добавить студента</h4></div>
	{% endif %}
	<form class="form-horizontal" role="form" action="{{ action }}" method="POST">
	{% csrf_token %}
	
  	{{ form }}
      	<br />
		<div class="btn-group" id="sbutton_wrapper">
		<button type="submit" class="btn btn-primary" id="save_student" title="Сохранить">Сохранить</button>                  
		</div>
		</form><br/>`
	
{% endblock %}
