{% extends "layout.html" %}

{% block content %}

<div class="table-responsive">
<form class="form-inline" method="post" action="">
		{% csrf_token %}
		<!-- One form to rule them all -->
	 		{{ formset.management_form }}
	 	{{ formset.non_form_errors.as_ul }}
	 	<div>
	 	<table id="formset" class="table table-condensed">
	 	<caption><h3>Журнал посещаемости за {{ report.month }}-{{ report.year }}</h3></caption>
		{% for form in formset %}
	 		{% if forloop.first %}
	 		<thead>
	 			<tr>
	 				<th> # </th>
	 				<th> Студент </th>
    				{% for field in form.visible_fields %}
    				<th>{{ field.label|capfirst }}</th>
    				{% endfor %}    			
  				</tr>
		  	</thead>
  			{% endif %}
  			<tbody>
  			<tr class="{% cycle row1,row2 %}">
  				{% for hidden in form.hidden_fields %}
      				{{ hidden }}
      			{% endfor %}
				
					{% with student=students|lookup:form.student.value %}
					<td>
						{{ student.journal_id }}
					</td>
					<td> 
						{{ student }}
					</td>  
					{% endwith %}
				
  				{% for field in form.visible_fields %}
    			<td>
      				{{ field.errors.as_ul }}
      				{{ field }}
    			</td>
  				{% endfor %}
  			</tr>
  			</tbody>
		{% endfor %}    
		</table>
		</div>
		<div class="btn-group" id="sbutton_wrapper">
			<button type="submit" class="btn btn-primary" id="save_report" title="Сохранить">Сохранить</button>                  
		</div>
</form>
</div>
{% endblock %}