{% extends "layout.html" %}
{% block content %}

{% if no_faculty %}
<h3>Ой...</h3>
<p>Что-то пошло не так - вы забыли указать факультет, без этого ничего не выйдет<p>
<p><a href="{% url 'usermanagement:profile-edit' %}{% if next %}?next={{ next }}{% endif %}" class="btn btn-info" role="button">Нажми меня</a></p>

{% else %}

<h3>Списки групп</h3>
<!--  mad grouping things going on -->
{% regroup students by group.get_department_display as depts %}
{% for dep in depts %}
<a href="#d{{ forloop.counter  }}" data-toggle="collapse"><button type="button" class="btn btn-lg btn-default btn-block">{{ dep.grouper }}</button></a>
<div id ="d{{ forloop.counter }}" class="collapse well">
 {% regroup dep.list by group.current_study_year as course_list %}
    {% for course in course_list %}
     <a href="#c{{ forloop.counter  }}{{ dep.grouper }}" data-toggle="collapse"><button type="button" class="btn btn-lg btn-default btn-block">{{ course.grouper }} курс</button></a>
    	<div id ="c{{ forloop.counter }}{{ dep.grouper }}" class="collapse well">
    	{% regroup course.list by group as group_list %} 
    	{% for group in group_list %}
    		<p>{{ group.grouper }} - <a href = "{% url 'atracker:group-info' group.grouper.id %}">полная информация о группе</a></p>
    	{% endfor %}
    	</div>
    	
    	{% endfor %}

</div>
{% endfor %}


{% endif %}
{% endblock %}