{% extends "layout.html" %}
{% block content %}
<h3>{{ group }}</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th >#</th>
        <th>ФИО</th>
        <th>День рождения</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
       <tr>
        <td>{% if student.journal_id %} {{ student.journal_id }} {% endif %}</td>
        <td>{{ student.last_name }}, {{ student.first_name }} {% if student.middle_name %} {{ student.middle_name }} {% endif %}</td>
        <td>{% if student.date_of_birth %} {{ student.date_of_birth }} {% else %} Не указано {% endif %}</td>
        <td>{% if student.requires_attention %} <span class="glyphicon glyphicon-exclamation-sign" style='color:red'"></span> {% else %} <span class="glyphicon glyphicon-ok" style='color:green'"></span> {% endif %}</td>
        
        
       </tr>
{% empty %}
      <tr>
      <td colspan="7">В списке пока нет студентов.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}