{% extends "layout.html" %}
{% block content %}

{% if no_faculty %}
<h3>Ой...</h3>
<p>Что-то пошло не так - вы забыли указать факультет, без этого ничего не выйдет<p>
<p><a href="{% url 'usermanagement:profile-edit' %}{% if next %}?next={{ next }}{% endif %}" class="btn btn-info" role="button">Нажми меня</a></p>

{% else %}
<!--  complicated grouping stuff -->
<br />

<div class="alert alert-warning">
Кнопка "ПНУТЬ" пока находится в стадии разработки, поэтому нажимать на нее бессмысленно, хотя и, безусловно, приятно.
</div>
{% regroup rpeople by user.get_department_display as depts %}
<ul class="nav nav-pills nav-justified">
	{% for dep in depts %}
	{% if forloop.first %}
    <li class="active"><a data-toggle="pill" href="#d{{ forloop.counter  }}">{{ dep.grouper }}</a></li>
    {% else %}
    <li><a data-toggle="pill" href="#d{{ forloop.counter  }}">{{ dep.grouper }}</a></li>
    {% endif %}
    {% endfor %}
</ul>



<div class="tab-content">
	<!--  group by department and then for each department -->
	{% regroup rpeople by user.get_department_display as depts %}
	{% for dep in depts %}
		{% if forloop.first %}
		<div id="d{{ forloop.counter }}" class="tab-pane fade in active">
		{% else %}
		<div id="d{{ forloop.counter }}" class="tab-pane fade">
		{% endif %}
		<!--  group by year of study and then for each year of study -->
    	{% regroup dep.list by group.current_study_year as course_list %}
    	<br/>
		<ul class="nav nav-tabs">
		{% for course in course_list %}
			{% if forloop.first %}
    		<li class="active"><a data-toggle="tab" href="#c{{ forloop.counter  }}">{{ course.grouper }} курс</a></li>
    		{% else %}
    		<li><a data-toggle="tab" href="#c{{ forloop.counter  }}">{{ course.grouper }} курс</a></li>
    		{% endif %}
    	{% endfor %}
		</ul>
		<br />
		<div class="tab-content">
		{% regroup dep.list by group.current_study_year as course_list %}
    	{% for course in course_list %}
    			{% if forloop.first %}
		<div id="c{{ forloop.counter }}" class="tab-pane fade in active">
		{% else %}
		<div id="c{{ forloop.counter }}" class="tab-pane fade">
		{% endif %}
    	<!-- group by study group and then for each group -->
    		{% regroup course.list by group as group_list %} 
    		{% for group in group_list %}
    		<div class="panel panel-default">
  				<div class="panel-heading"> <h4>{{ group.grouper }} </h4></div>
  				<div class="panel-body">
        		<p><a href = "{% url 'atracker:group-info' group.grouper.id %}">Список студентов</a></p>
        		<!--  for each prefect in group -->
        		{% for rp in group.list %}
        		<p>Староста: {{ rp.user }}</p>
        		<a href="#u{{ rp.user.id }}"  data-toggle="collapse"><button class="btn-primary btn-xs">Показать >></button></a>
        		<button class="btn-primary btn-xs" >ПНУТЬ!</button>
  				<div id="u{{ rp.user.id }}" class="collapse">
    				<table class="table table-striped table-bordered table-hover">
  						<tr>
    						<th>ФИО:</th>
    						<td>{{ rp.user }}</td>
  						</tr>
  						<tr>
    						<th>Почта:</th>
    						<td>{{ rp.user.email }}</td>
  						</tr>
  						<tr>
    						<th>Телефон:</th>
    						<td>{{ rp.user.rp_profile.phone_number }}</td>
  						</tr>
  						<tr>
  							<th>Последний раз был(а) в сети</th>
  							<td>{{ rp.user.last_login }}</td>
  						</tr>
					</table>
  				</div> <!--  close prefect info table div -->
        	{% endfor %} <!--  end of prefect loop -->
        	</div>
        </div>
    	{% endfor %} <!-- end of group loop -->
	</div> <!--  close year of study div -->
    {% endfor %} <!-- end of year of study loop -->
    </div> <!-- close year of study tab pane -->
    </div> <!-- closes department div -->   	
{% endfor %} <!-- end of department loop -->
</div>
{% endif %}
{% endblock %}