{% extends "layout.html" %}

{% block content %}

<h2>Список студентов</h2>
<p>
<a href="{% url 'atracker:student-new' %}"><button class="btn btn-primary" id="submit" title="Добавить студента">Добавить студента</button></a>
</p>
<p><b>#</b> - номер в журнале</p>
<p><b>Статус</b> - зеленая галочка значит, что студент не отчислен </p>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th >#</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Бездник</th>
        <th class="text-center" data-toggle="tooltip" title="Является студентом">Статус</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <td>{% if student.journal_id %} {{ student.journal_id }} {% endif %}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.middle_name }}</td>
        <td>{% if student.date_of_birth %} {{ student.date_of_birth }} {% else %} Не указано {% endif %}</td>
        <td class="text-center">{% if student.active %}<span class="glyphicon glyphicon-ok" style='color:green'"></span>{% else %} Отчислен {% endif %}</td>
        <td class="text-center"><a href="{% url 'atracker:student-edit' pk=student.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
      </tr>
      {% empty %}
      <tr>
      <td colspan="7">Вы еще не добавили ни одного студента.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
