{% extends "layout.html" %}
{% block content %}
<h2>{{ title }}</h2>

<div>
<div class="panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Списки</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <a href="{% url 'atracker:prefects-list' %}"><li class="list-group-item">Личные карточки старост</li></a>
        <a href="{% url 'atracker:groups-list' %}"><li class="list-group-item">Списки групп</li></a>
        <a href="{% url 'usermanagement:prefect-create' %}"><li class="list-group-item">Добавить старосту</li></a>
      </ul>
    </div>
</div>
</div>
<div>
<div class="panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Отчеты</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Новые отчеты (добавить циферку)</li>
        <li class="list-group-item">Архив</li>
      </ul>
    </div>
</div>
</div>

<div>
<div class="panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#">Проблемы</a>
      </h4>
    </div>
</div>
</div>

<div>
<div class="panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#">Волшебный пинок</a>
      </h4>
    </div>
</div>
</div>
{% endblock %}