{% extends "layout.html" %}
{% block content %}
<h2>{{ title }}</h2>
{% if user.rp_profile.group %}
	<p><a href="{% url 'atracker:stud_list' %}" class="btn btn-info" role="button">Список студентов</a> </p>

<p><a href="{% url 'atracker:report-new' %}" class="btn btn-info" role="button">Новый отчет</a></p>
<h3>Последние отчеты ({{ user.rp_profile.group }})</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Месяц</th>
        <th>Год</th>
        <th>Заполнено</th>
        <th>Дата создания</th>
        <th>Отредактировано</th>
        <th class="text-center">Просмотрено</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for report in reports %}
      <tr>
        <td>{{ report.month }}</td>
        <td>{{ report.year }}</td>
        <td>{{ report.responsible_person }}</td>
        <td>{{ report.timestamp|date:"D d M Y" }}</td>
        <td>{{ report.edited|date:"D d M Y" }}</td>
        <td class="text-center">{% if report.seen %} 
        	<span data-toggle="tooltip" title="Декан уже видел отчет" class="glyphicon glyphicon-eye-open" style="color:#B80000;"></span> 
        	{% else %}
        	<span data-toggle="tooltip" title="Отчет еще не просмотрен" class="glyphicon glyphicon-eye-close" style="color:gray;"></span> 
        	{% endif %}
        </td>
        <td>
        {% if report.seen %}
        	<span class="glyphicon glyphicon-pencil" style="color:gray;></span></td>
        	<span class="glyphicon glyphicon-remove" style="color:gray;"></span></td>
        {% else %}
        <a href="{% url 'atracker:student-reports-edit' pk=report.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td><a data-toggle="modal" data-target="#myModal" href="#"><span class="glyphicon glyphicon-remove" style="color:#B80000;"></span></a></td>
		<!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Удаление отчета</h4>
                              </div>
                              <div class="modal-body">
                                  <p> {{ user.first_name }}, а вы уверены, что хотите удалить этот отчет?</p>
                              </div>
                              <div class="modal-footer">
                                 <div class="execute_block">
                                    <form action="{% url 'atracker:report-delete' pk=report.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" id="save_blog" title="Удалить">Да, точно!</button>    
                                    </form>
                                </div>
                                <div class="go_back_block">
                                    <button class="btn btn-default" title="Передумал" data-dismiss="modal">Нет, вернуться!</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% else %}
Заполните, пожалуйста, данные профиля: укажите группу и номер телефона
<p><a href="{% url 'atracker:stud_list' %}" class="btn btn-info" role="button">Список студентов</a> </p>
{% endif %}

{% endblock %}
